__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.mypy_cache/
.ruff_cache/
.pytest_cache/
htmlcov/
.coverage
coverage.xml
.venv/
venv/
result
result-*
.direnv/
.idea/
.vscode/
*.swp
*~
.DS_Store
